.checkbox {
    width: 1.15em;
    height: 1.15em;
    -webkit-appearance: none;
    appearance: none;
    @apply bg-transparent outline-0 h-4 w-4 border-2 border-admin-text rounded grid place-content-center
}

.checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #F5F3F5;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
    transform: scale(1);
}